/**Fuentes**/
p {
    font-family: 'Raleway', sans-serif;
}
h1 {
    font-family: 'Raleway', sans-serif;
}
h2 {
    font-family: 'Raleway', sans-serif;
}
h3 {
    font-family: 'Raleway', sans-serif;
}
a {
    font-family: 'Raleway', sans-serif;
}
a:link {
    text-decoration: none;
    color: whitesmoke;
}
a:visited {
    text-decoration: none;
    color: whitesmoke;
}

/**Body**/
body {
    background: linear-gradient(112.51deg, #264653 0%, rgba(42, 157, 143, 0.69) 100.59%);
    background-blend-mode: lighten;
    color: whitesmoke;
}
.tarjeta {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 12px 12px 0px 0px;
    background: linear-gradient(180deg, rgba(5, 112, 136, 0.8) 0%, #48087A 90.95%);
    box-shadow: 10px 10px 101px 34px rgba(0,0,0,0.51);
    -webkit-box-shadow: 10px 10px 101px 34px rgba(0,0,0,0.51);
    -moz-box-shadow: 10px 10px 101px 34px rgba(0,0,0,0.51);
    border: solid yellow 2px;
}

/**Header**/
.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.menu__nav {
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    
}
.logo {
    width: 30px;
    height: 20px;
    padding-left: 15px;
}
.logo:hover{
    animation-name: logo;
    animation-duration: 1s;
    animation-iteration-count: 1;
}
@keyframes logo{
    0%{
        transform: translatex(10px);
    }
    10%{
        transform: translatex(20px);
    }
    20%{
        transform: translatex(30px);
    }
    30%{
        transform: translatex(40px);
    }
    40%{
        transform: translatex(50px);
    }
    50%{
        transform: translatex(60px);
    }
    60%{
        transform: translatex(70px);
    }
    70%{
        transform:  translatex(80px);
    }
    80%{
        transform: translatex(90px);
    }
    90%{
        transform: translatex(100px);
    }
    100%{
        transform: translate(110px)
    }
}
.menu__nav__lista {
    display: inline-block;
    padding: 5px;
}
.btstyle {
    text-decoration: none;
    text-decoration: whitesmoke;
    font-weight: 600;
    font-size: 10px;
    width: 70px;
    height: 25px;
    background: linear-gradient(98.38deg, #264653 1.82%, #2A9D8F 97.86%);
    border: 1px solid #F5B40D;
    box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    animation-duration: 1s;
    margin-right: 10px;
}
.btstyle:hover{
    transform: scale(1.1);
}
.btstyle:active{
    transform: translate(6px, 6px);
}

/**Main**/

    /*Titulo*/

.imagentitulo {
    background-image: url(../img/bannerhome.png);
    height: 310px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    margin-top: 50px;
}
.imagentitulo__text {
    position: absolute;
    text-align: left;
    font-weight: bold;
    font-size: 14px;
    line-height: 40px;
    left: 5%;
}
.imagentitulo__button {
    position: absolute;
    top: 70%;
    left: 60%;
}

/*Nuestros Records*/

.record {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding-top: 60px;
}
.boxrecord {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 125px;
    background: linear-gradient(91.64deg, rgba(38, 70, 83, 0.7) 0.15%, rgba(15, 102, 137, 0.7) 99.81%);
    box-shadow: 0px 5px 4px 5px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    margin-left: 10px;
    margin-right: 10px;
}
.boxrecord__items {
    text-align: center;
    font-size: 12px;
    font-weight: 700;
}
.icon__records {
    width: 50px;
}

/*Cita*/

.cita {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/citahome.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 500px;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 50px;
}
.cita__text {
    position: absolute;
    font-weight: bold;
    text-align: center;
    font-size: 28px;
}

/**Footer**/

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    background: #264653;
    background-blend-mode: lighten;
    mix-blend-mode: normal;
    border: 2px solid #1288B8;
    box-shadow: 7px -7px 25px 10px rgba(0, 0, 0, 0.25);
    border-radius: 25px 25px 0px 0px;
}
.footer__menu {
    display: flex;
    align-items: center;
    font-size: 14px;
    list-style: none;
}
.footer__menu__page {
    padding: 5px;
}
.redes {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-right: 20px;
}
.redes__sociales {
    padding-right: 5px;
    width: 35px;
    transition-duration: 1s;
}
.redes__sociales:hover{
    transform: rotatex(360deg);
}

/**Artistas**/

/*Titulo*/

.artistas {
    background-image: url(../img/unsplash_OKLqGsCT8qs.png);
    height: 310px;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.artistas__text {
    font-size: 120px;
    padding-left: 200px;
    padding-top: 75px;
}

/*Artistas*/

.seccion__artista {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 200px;
}
.seccion__artista__artista {
    margin-top: 100px;
    text-align: center;
}
.artista__img {
    width: 251px;
    height: 341px;
    border-radius: 20px;
}
.artista__name {
    font-size: 60px;
}

/*Responsive*/
    /**Tablets**/

@media screen and (min-width: 768px) {
    .menu__nav {
        font-size: 20px;
        font-weight: 500;
    }
    .logo {
        width: 50px;
        height: 30px;
    }
    .btstyle {
        font-size: 100%;
        font-weight: 500;
        width: 100px;
        height: 40px;
    }
    .imagentitulo {
        height: 390px;
    }
    .imagentitulo__text {
        font-size: 24px;
        line-height: 70px;
    }
    .imagentitulo__button {
        left: 65%;
    }
    .boxrecord {
        height: 150px;
    }
    .boxrecord__items {
        font-size: 15px;
    }
    .icon__records{
        width: 60px;
    }
    .cita__text {
        font-size: 38px;
    }
    .footer__menu {
        font-size: 18px;
    }
    .redes {
        padding-right: 30px;
    }
    .redes__sociales {
        padding-right: 10px;
        width: 45px;
    }
    .footer {
        height: 125px;
    }
}
    /**Desktop**/

@media screen and (min-width: 1200px) {
    .tarjeta {
        margin: 50px 50px 0px 50px;
    }
    .menu__nav {
        font-size: 30px;
        font-weight: 500;
    }
    .logo {
        width: 60px;
        height: 40px;
    }
    .btstyle {
        font-size: 100%;
        font-weight: 500;
        width: 110px;
        height: 45px;
    }
    .imagentitulo {
        height: 500px;
    }
    .imagentitulo__text {
        font-size: 32px;
        line-height: 80px;
    }
    .imagentitulo__button {
        left: 80%;
    }
    .boxrecord {
        height: 200px;
    }
    .boxrecord__items {
        font-size: 25px;
    }
    .icon__records{
        width: 80px;
    }
    .cita {
        height: 750px;
        width: 100%;
    }
    .cita__text {
        font-size: 55px;
        padding: 10px;
    }
    .footer__menu {
        font-size: 22px;
    }
    .redes {
        padding-right: 50px;
    }
    .redes__sociales {
        padding-right: 20px;
        width: 45px;
    }
    .footer {
        height: 150px;
    }
}
