/**Fuentes**/
p {
    font-family: 'Raleway', sans-serif;
}
h1 {
    font-family: 'Raleway', sans-serif;
}
h2 {
    font-family: 'Raleway', sans-serif;
}
h3 {
    font-family: 'Raleway', sans-serif;
}
a {
    font-family: 'Raleway', sans-serif;
}
a:link {
    text-decoration: none;
    color: whitesmoke;
}
a:visited {
    text-decoration: none;
    color: whitesmoke;
}
html {
    min-height: 100%;
    position: relative;
}

/**Body**/
body {
    background: linear-gradient(112.51deg, #264653 0%, rgba(42, 157, 143, 0.69) 100.59%);
    background-blend-mode: lighten;
    color: whitesmoke;
}
.tarjeta {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    min-height: 100vh;
    border-radius: 12px 12px 0px 0px;
    background: linear-gradient(180deg, rgba(5, 112, 136, 0.8) 0%, #48087A 90.95%);
    box-shadow: 10px 10px 101px 34px rgba(0,0,0,0.51);
    -webkit-box-shadow: 10px 10px 101px 34px rgba(0,0,0,0.51);
    -moz-box-shadow: 10px 10px 101px 34px rgba(0,0,0,0.51);
    border: solid yellow 2px;
}

/**Header**/
.menu {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    align-content: center;
    margin-top: 20px;
}

.logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-right: 0px;
}
.logo__img {
    width: 40px;
    height: 20px;
}
.logo:hover{
    animation-name: logo;
    animation-duration: 1s;
    animation-iteration-count: 1;
}
@keyframes logo{
    0%{
        transform: translatex(10px);
    }
    10%{
        transform: translatex(15px);
    }
    20%{
        transform: translatex(20px);
    }
    30%{
        transform: translatex(25px);
    }
    40%{
        transform: translatex(30px);
    }
    50%{
        transform: translatex(35px);
    }
    60%{
        transform: translatex(40px);
    }
    70%{
        transform:  translatex(45px);
    }
    80%{
        transform: translatex(50px);
    }
    90%{
        transform: translatex(55px);
    }
    100%{
        transform: translate(60px)
    }
}
.menu-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 10px;
    font-weight: 600;
    list-style: none;
    padding-left: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.btstyle {
    text-decoration: none;
    text-decoration: whitesmoke;
    font-weight: 600;
    font-size: 10px;
    width: 50px;
    height: 20px;
    background: linear-gradient(98.38deg, #264653 1.82%, #2A9D8F 97.86%);
    border: 1px solid #F5B40D;
    box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    animation-duration: 1s;
}
.btstyle:hover{
    transform: scale(1.1);
}
.btstyle:active{
    transform: translate(6px, 6px);
}
.btlogin {
    text-align: center;
    text-justify: center;
    margin: auto;
}

/**Main**/

    /*Titulo*/

.imagentitulo {
    background-image: url(../img/bannerhome.png);
    height: 310px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    margin-top: 30px;
}
.imagentitulo__text {
    position: absolute;
    text-align: left;
    font-weight: bold;
    font-size: 14px;
    line-height: 40px;
    left: 5%;
}
.imagentitulo__button {
    position: absolute;
    top: 70%;
    left: 60%;
}

/*Nuestros Records*/

.record {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding-top: 60px;
}
.boxrecord {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 125px;
    background: linear-gradient(91.64deg, rgba(38, 70, 83, 0.7) 0.15%, rgba(15, 102, 137, 0.7) 99.81%);
    box-shadow: 0px 5px 4px 5px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    margin-left: 10px;
    margin-right: 10px;
}
.boxrecord__items {
    text-align: center;
    font-size: 10px;
    font-weight: 700;
}
.icon__records {
    width: 50px;
}

/*Cita*/

.cita {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/citahome.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 325px;
    width: 100%;
    margin-top: 70px;
    margin-bottom: 120px;
    padding-top: 20px;
}
.cita__text {
    position: absolute;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
}

/**Footer**/

.footer {
    position: absolute;
    bottom: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    height: 100px;
    background: #264653;
    background-blend-mode: lighten;
    mix-blend-mode: normal;
    border: 2px solid #1288B8;
    box-shadow: 7px -7px 25px 10px rgba(0, 0, 0, 0.25);
    border-radius: 25px 25px 0px 0px;
}
.logo1 {
    width: 40px;
    height: 20px;
    padding-left: 0px;
}
.footer__menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
    font-size: 10px;
    list-style: none;
}
.redes {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin: 0;
    padding-left: 2rem;
}
.redes__sociales {
    width: 25px;
    transition-duration: 1s;
}
.redes__sociales:hover{
    transform: rotatex(360deg);
}

/**Artistas**/

/*Titulo*/

.artistas {
    background-image: url(../img/unsplash_OKLqGsCT8qs.png);
    height: 100px;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 50px;
    background-position: center ;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 30px;
}
.artistas__text {
    position: absolute;
    font-size: 24px;
}

/*Artistas*/
.row {
    margin-bottom: 120px;
}
.card {
    height: auto;
    margin-top: 30px;
    background-color: #38393a;
    border: 2px solid #F5B40D;
    box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
}
.card-title {
    font-weight: 800;
}
.card-text {
    text-align: justify;
    font-weight: 600;
}

/*Responsive*/
    
    /**Tablets**/

@media screen and (min-width: 768px) {
    /*Body y Nav*/
    .menu-nav {
        justify-content: space-between;
        font-size: 20px;
        font-weight: 500;
    }
    .logo__img {
        width: 60px;
        height: 30px;
    }
    .btlogin {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .btstyle {
        font-size: 20px;
        font-weight: 500;
        width: 100px;
        height: 40px;
    }

    /*Main*/
    .imagentitulo {
        height: 390px;
        margin-top: 60px;
    }
    .imagentitulo__text {
        font-size: 24px;
        line-height: 70px;
    }
    .boxrecord {
        height: 150px;
    }
    .boxrecord__items {
        font-size: 15px;
    }
    .icon__records{
        width: 60px;
    }
    .cita {
        height: 575px;
        margin-top: 70px;
        margin-bottom: 200px;
        padding-top: 50px;
    }
    .cita__text {
        font-size: 38px;
    }
    .logo1{
        width: 60px;
        height: 30px;
    }
    /*Artistas*/
    .artistas {
        height: 120px;
        padding-left: 80px;
    }
    .artistas__text {
        font-size: 32px;
    }
    .row {
        margin-bottom: 150px;
    }

    /*Footer*/
    .footer__menu {
        font-size: 24px;
    }
    .redes {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-end;
        justify-content: flex-end;
        max-height: 100px;
        margin-right: 30px;
    }
    .redes__sociales {
        padding-right: 10px;
        width: 50px;
    }
    .footer {
        height: 125px;
    }
}

    /**Desktop**/

@media screen and (min-width: 1200px) {
    
    /*Body y Nav*/
    .tarjeta {
        margin: 50px 50px 0px 50px;
    }
    .menu {
        margin-top: 50px;
    }
    .menu-nav {
        font-size: 30px;
        font-weight: 500;
    }
    .logo__img {
        width: 80px;
        height: 40px;
    }
    .btstyle {
        font-size: 25px;
        font-weight: 600;
        width: 110px;
        height: 45px;
    }

    /*Main*/
    .imagentitulo {
        height: 700px;
        margin-bottom: 200px;
    }
    .imagentitulo__text {
        font-size: 48px;
        line-height: 80px;
    }
    .imagentitulo__button {
        top: 80%;
        left: 80%;
    }
    .record h2{
        font-size: 56px;
        font-weight: 600;
        padding-bottom: 20px;
    }
    .boxrecord {
        height: 200px;
        margin-bottom: 200px;
    }
    .boxrecord__items {
        font-size: 25px;
    }
    .icon__records{
        width: 80px;
    }
    .cita {
        height: 750px;
        width: 100%;
        margin-bottom: 300px;
    }
    .cita__text {
        font-size: 56px;
        font-weight: 500;
        text-align:center;
        padding-left: 120px;
        padding-right: 120px;
        margin-top: 50px;
    }
    .cita__text h2{
        font-size: 72px;
        font-weight: 600;
    }

    /*Artistas*/
    .artistas {
        height: 200px;
        padding-left: 200px;
    }
    .artistas__text {
        font-size: 48px;
    }
    .row {
        margin-bottom: 170px;
    }
    /*Footer*/
    .footer__menu {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin-left: 200px;
        margin-right: 200px;
        font-size: 28px;
        font-weight: 600;
    }
    .redes {
        display: flex;
        flex-direction: row;
    }
    .redes__sociales {
        padding-right: 20px;
        width: 70px;
    }
    .footer {
        height: 150px;
    }
}
